// Colours
$text-color: #212121;
$background-color: #faf5f0;
$white-color: #fff;
$black-color: #000;
$gray-color: #ccc;
$yellow-color: #ffcd00;
$darkyellow-color: #dbaf00;
$success-color: #51880f;
$danger-color: #f0827f;

// layout
$max-width: 1100px;
