// Variables
@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", Arial, sans-serif;
  font-size: 1rem;
  background: $background-color;
  color: $text-color;
}

// Core Styles
a {
  text-decoration: none;
  color: $text-color;
}

ul {
  list-style: none;
}

// img {
//   width: 100%;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Martel", serif;
}

// layout
.container {
  max-width: $max-width;
  overflow: hidden;
  padding: 0rem 4rem;
  margin: 6rem auto;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

// Text Styles
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.white-text {
  color: $white-color;
}

// Backgrounds
.bg {
  &-white {
    background: $white-color;
  }
  &-yellow {
    background: $yellow-color;
  }
  &-darkyellow {
    background: $darkyellow-color;
    color: $text-color;
  }
  &-dark {
    background: $text-color;
    color: $white-color;
  }
}

// Buttons
.btn {
  font-family: "Manrope", Arial, sans-serif;
  font-size: 1rem;
  display: inline-block;
  background-color: $yellow-color;
  color: $black-color;
  padding: 0.4rem 1.3rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
  &:hover {
    color: $white-color;
    background-color: $darkyellow-color;
  }
  &.btn-success {
    background: $success-color;
    &:hover {
      background: lighten($success-color, 5%);
    }
  }
  &.btn-danger {
    background: $danger-color;
    &:hover {
      background: lighten($danger-color, 5%);
    }
  }
}

//Margin & Paddinng
$spaceamounts: (1, 2, 3, 4, 5);
@each $space in $spaceamounts {
  // All around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }
  // All Vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  // All around padding
  .p-#{$space} {
    padding: #{$space}rem;
  }
  // All Vertical padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

// Alert
.alert {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  padding: 1rem;
  opacity: 0.9;
  background: $yellow-color;
  color: $text-color;
  z-index: 200;
}

.alert-danger {
  background: $danger-color;
  color: #fff;
}

.alert-success {
  background: $success-color;
  color: #fff;
}
