@import "../styles/_variables.scss";

.header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/kitchen-background.jpg") no-repeat center/cover;
  height: 100vh;

  &-inner {
    color: $background-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.yellow-dot {
  font-size: 5rem;
  color: $yellow-color;
}
