@import "../styles/_variables.scss";

.navbar {
  a {
    color: $text-color !important;
    text-decoration: none;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 20;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $gray-color;
  opacity: 0.9;
  background-color: $white-color;
  .active {
    border-bottom: 3px solid $yellow-color;
  }
  ul {
    display: flex;
    align-items: center;
    a {
      color: $text-color;
      padding: 0.5rem;
      margin: 0 0.25rem;
      &:hover {
        border-bottom: 3px solid $yellow-color;
        text-decoration: none;
      }
    }
  }
  #logout {
    margin: 0 0.25rem;
  }
}
